* {
    font-family: 'Righteous', cursive;
}

body {
    background-color: rgb(233, 232, 217);
    display: flex;
    flex-direction: column;

    height: 100%;


}

header {

    
    background-color: rgb(239, 245, 188);
   
    width: 100%;
   display: flex;
   justify-content: space-between;
  align-items: start;


}





#logo1 {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 10px 0 10px 20px;

    padding-top: 10%;
    
    

}
nav ul {
display: flex;
}

nav ul li{



   padding-top: 15%;
    font-family: 'Righteous', cursive;
    padding-right: 30px;
    

}

a {
    color: #38290d;
    text-decoration: none;
}
#remember {

   
   
  
   font-family: 'Righteous', cursive;
 
   color: #211704;
   font-size: 30px;
padding-top: 1%;
}



table {
    width: 100%;
    text-align: center;
}

td, th {
    border: 1px solid black;
    font-size: 20px;
    font-style: oblique;
}

th {

    padding: 5% 5%;
}

td {
    padding: 3%;
}
#table{
    margin: 5% 15% 0% 15%;

    background-color: #b1a863;
    box-shadow: 0px 4px 6px #342d1875;
}
footer{

    display: flex;
    justify-content: space-between;

    margin-top: 230px;
    background-color: rgb(239, 245, 188);
    position: relative;
    width: 100%;

    

}
#logo2{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 10px 0 10px 20px;
    float: left;
    margin-top: 10px;
}

#copy{

  
    margin-top: 15%;
    width: 100%;

    margin-left: 30px;
    color: #211704;
    font-size: 15px;
}
#follow{
    display: inline-block;
    padding: 20px 10px;
    font-family: 'Righteous', cursive;
    margin-right: 30px;
    margin-top: 10px;
    float: right
}