* {
    font-family: 'Righteous', cursive;
}

body {
    background-color: rgb(233, 232, 217);
    display: flex;
    flex-direction: column;

}

header {
    background-color: rgb(239, 245, 188);
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    float: right;
}

#logo1 {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 10px 0 10px 20px;
    float: left;
    margin-top: 10px;

}
nav ul li{


display: inline-block;
    padding: 20px 10px;
    font-family: 'Righteous', cursive;
    margin-right: 30px;
    margin-top: 10px;
}

a {
    color: #38290d;
    text-decoration: none;
}
#remember {
   position: absolute;
   display: inline-block;
   padding: 20px 10px;
   font-family: 'Righteous', cursive;
   margin-left: 30px;
   color: #211704;
   font-size: 30px;

}
main{
  
    margin-top: 60px;
}

table {
    width: 100%;
    text-align: center;
}

td, th {
    border: 1px solid black;
    font-size: 20px;
    font-style: oblique;
}

th {
    padding: 35px 20px;
}

td {
    padding: 15px;
}
#table{
    margin: 20px 100px;
    background-color: #b1a863;
    box-shadow: 0px 4px 6px #342d1875;
}
footer{
    margin-top: 230px;
    background-color: rgb(239, 245, 188);
    position: relative;
    width: 100%;
    bottom: 0;
}
#logo2{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 10px 0 10px 20px;
    float: left;
    margin-top: 10px;
}

#copy{
    position: absolute;
    display: inline-block;
    padding: 20px 10px;
    margin-left: 30px;
    color: #211704;
    font-size: 15px;
}
#follow{
    display: inline-block;
    padding: 20px 10px;
    font-family: 'Righteous', cursive;
    margin-right: 30px;
    margin-top: 10px;
    float: right
}